.bash_history
.viminfo
.Xauthority
.wine
.local
.config
.sudo_as_admin_successful
.bash_logout
.bashrc
.profile
.sommelierrc
*.swp
Godot_v4.6-stable_linux.x86_64
Undertale/
mysite/
.kiro/
.cache/
.ssh/
*.tar.gz
